:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-container {
  flex: 1;
  height: 100%;
}

.sidenav {
  width: 250px;
}

.main-content {
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
